{% extends 'main.html' %}
{% block content %}
{% load static %}


<!-- create a success card to display the success message -->
<div class="card success-card">
    <div class="card-body">

      <h5 class="card-title">Success!</h5>
      <p class="card-text">Your password has been changed successfully.</p>

      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_jmtf164z.json"  background="transparent" class="img-fluid" width="25%"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
    
</div>
  </div>

<style>
    .success-card {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
      }
      
      .success-card .card-title {
        color: #155724;
        font-weight: bold;
      }
      
      .success-card .card-text {
        color: #155724;
      }
      
      .card {
        border-radius: 0;
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin: 20px;
      }
      
      .card-body {
        padding: 30px;
        text-align: center;
      }
</style>



{% endblock content %}

