{% extends 'main.html' %}
{% block content %}
{% load static %}


<!-- create a success card to display the success message -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Success!</h5>
        <p class="card-text">Your password has been changed successfully.</p>
    </div>
</div>

<style>

.card-title {
    margin-bottom: .75rem;
    color: #155724;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}


.card-text {
    margin-bottom: 0;
    color: #155724;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.card {
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}




.card-body {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}


</style>



{% endblock content %}

