{% extends 'main.html' %}


{% block content %}
{% load static %}
{% load custom_filters %}
<!-- Begin Li's Breadcrumb Area -->

<style>
    .product-image {
        max-height: 200px; /* Set the maximum height to 300 pixels or adjust to fit your needs */
        object-fit: contain;
    }
</style>

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active">Single Product</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">

            <div class="col-lg-5 col-md-6">
               <!-- Product Details Left -->
                <div class="product-details-left sp-tab-style-left-page">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="{{item.imgField}}" data-gall="myGallery">
                                <img src="{{item.imgField}}" alt="product image">
                            </a>
                        </div>
                        {% for img in images %}
                        {% if img.productName.name == item.name %}
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="{{img.images}}" data-gall="myGallery">
                                <img src="{{img.images}}" alt="product image">
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-style-left">
                        <div class="sm-image"><img src="{{item.imgField}}" alt="product image thumb"></div>
                        {% for img in images %}
                        {% if img.productName.name == item.name %}  
                        <div class="sm-image"><img src="{{img.images}}" alt="product image thumb"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--// Product Details Left -->
            </div>

            <style>
                .product-details-images img {
                        margin-top: 25%;
                        width: 100%;
                        max-height: 400px;
                        height: auto;
                        object-fit: contain;
                    }

                    .tab-style-left {
                        margin-top: 15%;
                    }

                    .tab-style-left .sm-image img {
                        width: 100%;
                        max-height: 100px;
                        height: auto;
                        object-fit: cover;
                    }
            </style>



            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>{{item.name}}</h2>
                        <span class="product-details-ref">{{item.category.name}}</span>
                        <div class="rating-box pt-20">
                            <ul class="rating rating-with-review-item">
                                {% for i in "12345" %}
                                    {% if forloop.counter0 < average_rating %}
                                        <li><i class="fa fa-star-o"></i></li>
                                    {% else %}
                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    {% endif %}
                                {% endfor %}
                                <!-- <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li> -->
                                <li class="review-item"><a href="#description">Read Review</a></li>
                                <li class="review-item"><a href="#description">Write Review</a></li>
                            </ul>
                        </div>
                        {% if item.isSale %}
                            <div class="price-box pt-20">
                                <span class="new-price new-price-2" style="margin-right: 1%;">${{item.salePrice}}</span>
                                <span style="text-decoration: line-through;margin-right: 1%;" class="old-price"><b>${{item.price}}</b></span>
                                <span class="discount-percentage" style="color:green"> <b> {{item.get_discount_percentage}}% OFF</b></span>
                            </div>                 
                        {% else %}
                            <div class="price-box pt-20">
                                <span class="new-price">${{item.price}}</span>
                            </div>
                        {% endif %}


                        <div class="product-desc">
                            <p>
                                <span>{{item.bio}}
                                </span>
                            </p>
                        </div>

                        <!-- <div class="product-variants">
                            <div class="produt-variants-size">
                                <label>Dimension</label>
                                <select class="nice-select">
                                    <option value="1" title="S" selected="selected">40x60cm</option>
                                    <option value="2" title="M">60x90cm</option>
                                    <option value="3" title="L">80x120cm</option>
                                </select>
                            </div>
                        </div> -->





                        <div class="single-add-to-cart">

                            {% if request.user.is_authenticated %}
                            <form method="post" action="{% url 'add_to_cart' uid=item.uid %}" class="cart-quantity">
                                {% csrf_token %}


                                <!-- Product Size -->
                                {% if productSize %}
                                    <div class="product-size">
                                        <label for="size-select">Size:</label>
                                        <select id="size-select" name="selected_size">
                                        {% for size in productSize %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <!-- Product Size -->

                                <!-- Product Color -->
                                {% if productColor %}
                                    <div class="product-variants">
                                        <div class="produt-variants-size">
                                        <label>Color:</label>
                                        {% for color in productColor %}
                                            <a
                                            class="product-colors {% if color == selectedColor %}activee{% endif %}" style="
                                            display: inline-block;
                                            align-items: center;
                                            width: 32px;
                                            height: 32px;
                                            border-radius: 50%;
                                            margin-right: 8px;
                                            cursor: pointer;
                                            border: 5px solid #ddd;
                                            background-color: #{{ color.hexCode }};"></a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- Product Color -->



                                <div class="quantity">
                                    <label>Quantity</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="number" name="quantity" id="quantity" value="1" min="1" max="10"class="cart-plus-minus-box" value="1">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <button class="add-to-cart" type="submit">Add to cart</button>
                            </form>
                            {% else %}
                            <!-- Product Color -->
                            {% if productColor %}
                            <div class="product-variants">
                                <div class="produt-variants-size">
                                <label>Color:</label>
                                {% for color in productColor %}
                                    <a
                                    class="product-colors {% if color == selectedColor %}activee{% endif %}" style="
                                    display: inline-block;
                                    align-items: center;
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                    margin-right: 8px;
                                    cursor: pointer;
                                    border: 5px solid #ddd;
                                    background-color: #{{ color.hexCode }};"></a>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!-- Product Color -->
                            <!-- Product Size -->
                            {% if productSize %}
                                <div class="product-size">
                                    <label for="size-select">Size:</label>
                                    <select id="size-select" name="selected_size">
                                    {% for size in productSize %}
                                        <option value="{{ size }}">{{ size }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        <!-- Product Size -->
                            <div class="cart-quantity">
                                <div class="quantity">
                                    <label>Quantity</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="number" name="quantity" id="quantity" value="1" min="1" max="10"class="cart-plus-minus-box" value="1">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <button class="add-to-cart"><a href="{% url 'signUp' %}">Add to cart</a></button>
                            </div>
                            {% endif %}
                        </div>




                         <!-- SCRIPT AND STYLES -->
                        <style>
                            .activee{
                                border: 2px solid #000 !important;
                            }

                            .product-size label {
                                 display: block;
                                 margin-bottom: 8px;
                                 }

                                 .product-size select {
                                 display: block;
                                 width: 100%;
                                 padding: 8px;
                                 font-size: 16px;
                                 border: 1px solid #ddd;
                                 border-radius: 4px;
                                 background-color: #fff;
                                 }

                                 .product-size select option {
                                 padding: 8px;
                                 font-size: 16px;
                                 background-color: #fff;
                                 color: #333;
                                 }
                        </style>
   
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script>
                            $(document).ready(function () {
                            $('.product-colors').click(function () {
                                $('.product-colors').removeClass('activee');
                                $(this).addClass('activee');
                            });
                            });
                        </script>
                        
                        <!-- SCRIPT AND STYLES -->








                        <div class="product-additional-info pt-25">
                            <a class="wishlist-btn" {% if request.user.is_authenticated %} href="{% url 'add_to_wish_list' item.uid %}" {% else %} href="/signUp" {% endif %}><i class="fa fa-heart-o"></i>Add to wishlist</a>
                            <div class="product-social-sharing pt-25">
                                <ul>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                </ul>
                            </div>
                        </div>



                        <div class="block-reassurance">
                            <ul>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-check-square-o"></i>
                                        </div>
                                        <p>Security policy (edit with Customer reassurance module)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <p>Delivery policy (edit with Customer reassurance module)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-exchange"></i>
                                        </div>
                                        <p> Return policy (edit with Customer reassurance module)</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                       <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a></li>
                       <li><a data-toggle="tab" href="#product-details"><span>Product Details</span></a></li>
                       <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                    </ul>               
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="description" class="tab-pane active show" role="tabpanel">
                <div class="product-description">
                    <span>{{item.description}}</span>
                </div>
            </div>
            <div id="product-details" class="tab-pane" role="tabpanel">
                <div class="product-details-manufacturer">

                    <!-- https://assets6.lottiefiles.com/private_files/lf30_qcellpy3.json -->

                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        

                    <a href="#">

                        <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_qcellpy3.json"  background="transparent" class="img-fluid" width="25%"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>

                        <!-- <img src="{% static 'images/product-details/1.jpg' %}" alt="Product Manufacturer Image"> -->
                    </a>




                    <center><p>Our  <span>{{item.name}}</span>Will be shipped fast</p></center>
                    <center><p><span>Shipped With quality and love.</span> </p></center>
                </div>
            </div>
            <div id="reviews" class="tab-pane" role="tabpanel">
                <div class="product-reviews">
                    <div class="product-details-comment-block">
                        <!-- <div class="comment-review">
                            <span>Grade</span>
                            <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div> -->

                        <!-- <div class="rating">
                            <span>Grade</span>
                            {% for reviews in reviews.all %}
                                <span class="stars">{{ reviews.rating_stars }}</span>
                                <span class="rating-value">{{ reviews.rating }}</span>
                            {% endfor %}
                        </div> -->

                        <!-- <div class="product-rating">
                            <span class="product-rating">
                                {% for i in "12345" %}
                                    {% if forloop.counter0 < average_rating %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="num-reviews">{{ reviews.count }} reviews</span>
                            </span>
                        </div>
                       
                        <style>
                            .product-rating .rating-value {
                                margin-left: 10px;
                            }
                            .product-rating .fas {
                                color: #f8e825;
                            }
                            .product-rating .far {
                                color: #f8e825;
                            }
                        </style> -->

                        <div class="rating-summary">
                            <div class="overall-rating">
                              <span class="stars">{{ reviews.all|average_rating|floatformat:1 }}</span>
                              <span class="star-icon">&#9733;</span>
                              <span class="ratings-count">{{ reviews.all|length }} ratings</span>
                            </div>
                          </div>

                          <style>

                           
                              
                              .rating-summary .overall-rating {
                                display: flex;
                                align-items: center;
                              }
                              
                              .rating-summary .stars {
                                color: #ffc107;
                                font-size: 24px;
                                margin-right: 10px;
                              }
                              
                              .rating-summary .star-icon {
                                font-size: 24px;
                                color: #aaa;
                                margin-right: 5px;
                              }
                              
                              .rating-summary .ratings-count {
                                font-size: 18px;
                                color: #aaa;
                              }
                              
                              .rating-summary .rating-breakdown {
                                display: flex;
                                align-items: center;
                                margin-top: 10px;
                              }
                              
                              .rating-summary .rating-item {
                                display: flex;
                                align-items: center;
                                margin-right: 20px;
                              }
                              
                              .rating-summary .rating-stars {
                                font-size: 14px;
                                color: #aaa;
                                margin-right: 5px;
                              }
                              
                              .rating-summary .star-filled {
                                color: #ffc107;
                              }
                              
                              .rating-summary .star-empty {
                                color: #ccc;
                              }


                              .rating-summary {
                                display: flex;
                                flex-direction: column;
                              }
                              
                              .rating-summary h3 {
                                margin-bottom: 10px;
                                font-size: 16px;
                                font-weight: bold;
                              }
                              
                              .rating-summary ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                              }
                              
                              .rating-summary li {
                                display: flex;
                                align-items: center;
                                margin-bottom: 5px;
                              }
                              
                              .rating-summary .star-rating {
                                display: flex;
                                align-items: center;
                                margin-right: 10px;
                              }
                              
                              .rating-summary .star-rating i {
                                color: #FFD700;
                                font-size: 16px;
                                margin-right: 5px;
                              }
                              
                              .rating-summary .star-rating .empty-star {
                                color: #D2D2D2;
                              }
                              
                              .rating-summary .count {
                                font-size: 14px;
                                color: #666666;
                              }



                              .rating-summary {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 20px;
                              }
                              
                              .rating-summary ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-direction: row;
                              }
                              
                              .rating-summary li {
                                margin-right: 10px;
                              }
                              
                              .rating-summary .star-rating {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                              }
                              
                              .rating-summary .star-rating i.fas.fa-star {
                                color: #F44336;
                              }
                              
                              .rating-summary .star-rating.star-2 i.fas.fa-star {
                                color: #FF9800;
                              }
                              
                              .rating-summary .star-rating.star-3 i.fas.fa-star {
                                color: #FFEB3B;
                              }
                              
                              .rating-summary .star-rating.star-4 i.fas.fa-star {
                                color: #80ae04;
                              }
                              
                              .rating-summary .star-rating.star-5 i.fas.fa-star {
                                color: #4CAF50;
                              }
                              
                              .rating-summary .star-rating i.far.fa-star.empty-star {
                                color: #ddd;
                                margin-right: 5px;
                              }
                              
                              .rating-summary .star-rating .count {
                                margin-left: 5px;
                                font-size: 14px;
                              }
                            </style>

                            <div class="rating-summary">
                                <h3>Rating Summary</h3>
                                <ul>
                                  <li>
                                    <div class="star-rating star-5">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                      <i class="count">({{ rating_summary.star5 }})</i>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="star-rating star-4"> 
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                        <i class="count">({{ rating_summary.star4 }})</i>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="star-rating star-3">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                      <i class="count">({{ rating_summary.star3 }})</i>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="star-rating star-2">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                        <i class="count">({{ rating_summary.star2 }})</i>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="star-rating">
                                          <i class="fas fa-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="far fa-star empty-star"></i>
                                          <i class="count">({{ rating_summary.star1 }})</i>
                                    </div>
                                  </li>
                                </ul>
                              </div>

                        
                            <div class="product-reviews">
                                
                                <h2>Recent Reviews</h2>
                                {% if reviews %}
                                <ul>
                                  {% for review in reviews|slice:"3" %}
                                  <li style="border-bottom: 1px solid #ccc;">
                                    <div class="review-header">
                                      <div class="profile-pic">{{ review.user.username|first }}</div>
                                      <div class="review-details">
                                        <span class="review-user">{{ review.user.username }}</span>
                                        <span class="review-date">{{ review.created_at|date:"F j, Y" }}</span>
                                      </div>
                                    </div>
                                    <div class="stars">
                                      {% for i in "12345" %}
                                      {% if forloop.counter0 < review.rating %}
                                      <i class="fas fa-star"></i>
                                      {% else %}
                                      <i class="far fa-star"></i>
                                      {% endif %}
                                      {% endfor %}
                                    </div>
                                    <div class="review-text">{{ review.text }}</div>
                                  </li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </div>

                        <!-- style product-reviews section  -->
                        <style>                       
                              .product-reviews h2 {
                                font-size: 24px;
                                font-weight: bold;
                                margin-bottom: 20px;
                              }

                              .product-reviews .profile-pic {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                background-color: #ccc;
                                color: #fff;
                                font-size: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 10px;
                              }
                              
                              .product-reviews ul {
                                list-style: none;
                                padding-left: 0;
                              }
                              
                              .product-reviews li {
                                
                                padding: 20px 0;
                              }
                              
                              .product-reviews .review-header {
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                              }
                              
                              .product-reviews .stars {
                                color: #ffc107;
                                margin-right: 10px;
                              }
                              
                              .product-reviews .review-user {
                                font-weight: bold;
                                margin-right: 10px;
                              }
                              
                              .product-reviews .review-date {
                                color: #aaa;
                              }
                              
                              .product-reviews .review-text {
                                margin-top: 10px;
                                line-height: 1.5;
                              }
                        </style>

                        <div class="comment-author-infos pt-25">
                            <span>Perfecto Tripal</span>
                            <em>3-20-2023</em>
                        </div>
                        <div class="comment-details">
                            <h4 class="title-block">Silicon Dreams</h4>
                            <!-- <p>Dreams</p> -->
                        </div>
                        <div class="review-btn">
                            <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
                        </div>

                        <!-- <form method="post" action="{% url 'add_review' pk=item.uid %}">
                            {% csrf_token %}
                            <label for="rating">Rating:</label>
                            <input type="number" name="rating" id="rating" min="1" max="5" required>
                            <br>
                            <label for="text">Review:</label>
                            <textarea name="text" id="text" required></textarea>
                            <br>
                            <input type="submit" value="Submit Review">
                        </form> -->

                        <!-- Begin Quick View | Modal Area -->
                        <div class="modal fade modal-wrapper" id="mymodal" >
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h3 class="review-page-title">Write Your Review</h3>
                                        <div class="modal-inner-area row">
                                            <div class="col-lg-6">
                                               <div class="li-review-product">
                                                   <img src="{{item.imgField}}" alt="Li's Product" class="product-image">
                                                   <div class="li-review-product-desc">
                                                       <p class="li-product-name">{{item.name}}</p>
                                                       <p>
                                                           <span>{{item.description}}</span>
                                                       </p>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="li-review-content">
                                                    <!-- Begin Feedback Area -->
                                                    <div class="feedback-area">
                                                        <div class="feedback">
                                                            <h3 class="feedback-title">Our Feedback</h3>
                                                            <form method="post" action="{% url 'add_review' pk=item.uid %}">
                                                                {% csrf_token %}
                                                                <label for="rating">Rating:</label>
                                                                <input type="number" name="rating" id="rating" min="1" max="5" required>
                                                                <br>
                                                                <label for="text">Review:</label>
                                                                <textarea name="text" id="text" required></textarea>
                                                                <br>
                                                                <input type="submit" value="Submit Review">
                                                            </form>
                                                            <!-- <form action="#">
                                                                <p class="your-opinion">
                                                                    <label>Your Rating</label>
                                                                    <span>
                                                                        <select class="star-rating">
                                                                          <option value="1">1</option>
                                                                          <option value="2">2</option>
                                                                          <option value="3">3</option>
                                                                          <option value="4">4</option>
                                                                          <option value="5">5</option>
                                                                        </select>
                                                                    </span>
                                                                </p>
                                                                <p class="feedback-form">
                                                                    <label for="feedback">Your Review</label>
                                                                    <textarea id="feedback" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                </p>
                                                                <div class="feedback-input">
                                                                    <p class="feedback-form-author">
                                                                        <label for="author">Name<span class="required">*</span>
                                                                        </label>
                                                                        <input id="author" name="author" value="" size="30" aria-required="true" type="text">
                                                                    </p>
                                                                    <p class="feedback-form-author feedback-form-email">
                                                                        <label for="email">Email<span class="required">*</span>
                                                                        </label>
                                                                        <input id="email" name="email" value="" size="30" aria-required="true" type="text">
                                                                        <span class="required"><sub>*</sub> Required fields</span>
                                                                    </p>
                                                                    <div class="feedback-btn pb-15">
                                                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">Close</a>
                                                                        <a href="#">Submit</a>
                                                                    </div>
                                                                </div>
                                                            </form> -->
                                                        </div>
                                                    </div>
                                                    <!-- Feedback Area End Here -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <!-- Quick View | Modal Area End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>15 other products in the same category:</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">

                        {% for product in products %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image" >
                                    <a href="#">
                                        <div class="product-img" style="background-image: url('{{product.imgField}}')">
                                        </div>
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <style>
                                    .product-img{
                                        width: 100%;
                                        max-height: 200px;
                                        height: 300px;
                                        background-size: contain;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                    }
                                </style>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="{% url 'products' product.category.uid %}">{{product.category.name}}</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="{% url 'productsInfo' product.uid %}">{{product.name}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">${{product.price}}</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a {% if request.user.is_authenticated %} href="{% url 'add_to_cart' product.uid %}" {% else %} href="/signUp" {% endif %}>Add to cart</a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                            <li><a class="links-details" {% if request.user.is_authenticated %} href="{% url 'add_to_wish_list' product.uid %}" {% else %} href="/signUp" {% endif %}><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->









{% endblock content %}