{% extends 'main.html' %}


{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="order.html">Orders</a></li>
          <li><a href="/editProfile">Edit Profile</a></li>
          <li><a class="active" href="/profile">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="pull-left text-center" href="#!">
              <img class="media-object user-img" src="{{userInfo.image.url}}" alt="Image">
              <a href="/editProfile" class="btn btn-transparent mt-20">Change Image</a>
            </div>
            <div class="media-body">
              <ul class="user-profile-list">
                <li><span>Full Name:</span>{{request.user}}</li>
                <li><span>First Name:</span>{{request.user.first_name}}</li>
                <li><span>Last Name:</span>{{request.user.last_name}}</li>
                <li><span>Country:</span>{{userInfo.country}}</li>
                <li><span>Email:</span>{{request.user.email}}</li>
                <li><span>Phone:</span>+{{userInfo.phoneNumber}}</li>
                {% if userInfo.gender == "male" %}                 
                  <li><span>Gender:</span><i class="tf-ion-male" style="margin-right: 5px;"></i>{{userInfo.gender}}</li>
                {% elif userInfo.gender == "female" %}       
                  <li></span><span>Gender:</span><i class="tf-ion-female" style="margin-right: 5px;"></i>{{userInfo.gender}}</li>
                {% endif %}
                <li><a href="edit-profile-main" class="btn btn-main btn-small btn-round">Edit Profile</a></li>
                <li><a href="password" class="btn btn-main btn-small btn-round">Change Password</a></li>
              </ul>

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}